:host h1 {
  cursor: pointer;
  font-family: monaco, 'Ubuntu Mono', Consolas, Lucida Console, monospace;
  font-weight: 400;
  letter-spacing: 4px;
  margin-left: 10px;
}

.italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-left: -10px;
}

.medium { width: 280px; }

.medium, .medium .italic { font-size: 36px; }

.large, .large .italic { font-size: 60px; }
