:host {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-box { width: 100%; }

.profile-box {
  margin-left: 70px;
  width: 280px;
}

.repos-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 600px;
}
