:host {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 1190px;;
}

.profile-box { width: 280px; }

.repos-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 840px;
}
